.no-box {
    margin: 0;
    padding: 0;
    line-height: 1;
}

p {
    margin-bottom: 10px;
}

.anaglyph * {
    text-shadow: -0.2em 0 red, 0.2em 0 cyan;
}

.anaglyph .button {
    box-shadow: -0.2em 0 red, 0.2em 0 cyan;
}

.button {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}

.gravatar {
    margin: 0 10px 0 0;
    border: 1px #2ba6cb solid;
    border-radius: 4px;
}

@media print {
    .hide-on-print {
        display: none !important;
    }
    .break-on-print {
        page-break-inside: avoid;
    }
}